In [3]:
import pandas as pd

In [14]:
df=pd.read_csv("heydata.csv")

In [15]:
df

               Actor   film yrs                 film  box office()
0      Shah Rukh khan      2000               Pathan           458
1   Ayushmann khurran      2002      Tiger Zinda hai           877
2        Sunney devol      2004               dangal           788
3        Rajkumar Rao      2005            Bramastra         45846
4          Aamir khan      2008             Padmavat         45545
5        salaman khan      2007            Andhadhum           545
6        Ranbir singh      2009                stree           556
7             Ranveer      2010                  war           555
8      Akhashay kumar      2011                 Good           784
9       Kartik Arayan      2026                Newwz          3457
10       Varun Dhawan      2012      bhool Bulayai 2          5562
11       Vicky dhawan      2019  Badrinath ki duniya           977

In [25]:
df

               Actor   film yrs                 film  box office()
0      Shah Rukh khan      2000               Pathan           458
1   Ayushmann khurran      2002      Tiger Zinda hai           877
2        Sunney devol      2004               dangal           788
3        Rajkumar Rao      2005            Bramastra         45846
4          Aamir khan      2008             Padmavat         45545
5        salaman khan      2007            Andhadhum           545
6        Ranbir singh      2009                stree           556
7             Ranveer      2010                  war           555
8      Akhashay kumar      2011                 Good           784
9       Kartik Arayan      2026                Newwz          3457
10       Varun Dhawan      2012      bhool Bulayai 2          5562
11       Vicky dhawan      2019  Badrinath ki duniya           977

In [26]:
df.loc[1]

Actor           Ayushmann khurran
film yrs                     2002
film              Tiger Zinda hai
box office()                  877
Name: 1, dtype: object

In [27]:
df.iloc[1]

Actor           Ayushmann khurran
film yrs                     2002
film              Tiger Zinda hai
box office()                  877
Name: 1, dtype: object

In [28]:
df.loc[8,'film']

'Good'

In [30]:
df.iloc[7,3]

555

In [35]:
df.loc[0:2,["film yrs","film"]]

   film yrs             film
0      2000           Pathan
1      2002  Tiger Zinda hai
2      2004           dangal

In [36]:
df.iloc[0:2,0:2]

              Actor   film yrs
0     Shah Rukh khan      2000
1  Ayushmann khurran      2002

In [40]:
df.at[0,'film']

'Pathan'

In [41]:
df.iat[0,0]

'Shah Rukh khan'

In [47]:
df[df['film yrs']>2010]

            Actor   film yrs                 film  box office()
8   Akhashay kumar      2011                 Good           784
9    Kartik Arayan      2026                Newwz          3457
10    Varun Dhawan      2012      bhool Bulayai 2          5562
11    Vicky dhawan      2019  Badrinath ki duniya           977

In [50]:
df

               Actor   film yrs                 film  box office()
0      Shah Rukh khan      2000               Pathan           458
1   Ayushmann khurran      2002      Tiger Zinda hai           877
2        Sunney devol      2004               dangal           788
3        Rajkumar Rao      2005            Bramastra         45846
4          Aamir khan      2008             Padmavat         45545
5        salaman khan      2007            Andhadhum           545
6        Ranbir singh      2009                stree           556
7             Ranveer      2010                  war           555
8      Akhashay kumar      2011                 Good           784
9       Kartik Arayan      2026                Newwz          3457
10       Varun Dhawan      2012      bhool Bulayai 2          5562
11       Vicky dhawan      2019  Badrinath ki duniya           977

In [53]:
filtered=df.copy()