In [12]:
import pandas as np

In [17]:
s1=pd.Series([45,75,85,69,88,79,98,99,70,97,78])

In [19]:
type(s1)

pandas.core.series.Series

In [20]:
s

0     45
1     75
2     85
3     69
4     88
5     79
6     98
7     99
8     70
9     97
10    78
dtype: int64

In [21]:
s2=pd.Series([88,79,98,99,70,97,78],index=["Roshan","Hardik","Nikhil","VishalSumaorao","Abhishek","Anshu","Raghuvendradutt"])

In [22]:
s2

Roshan             88
Hardik             79
Nikhil             98
VishalSumaorao     99
Abhishek           70
Anshu              97
Raghuvendradutt    78
dtype: int64

In [23]:
#we also exact the name separte
s2["Roshan"]

88

In [13]:
import pandas as pd

s=pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [14]:
s=pd.Series([10 ,20, 30], index=["a","b","c"])

In [15]:
s

a    10
b    20
c    30
dtype: int64

In [16]:
#DataFrame - 2D Labeled Table
import pandas as pd
data={"name":["Ram","Sita","Hanuman"],"age" :[10000,10000,100000],"Place":["Meramanme","Allwhere","Anytime"]}
df=pd.DataFrame(data)
print(df)

      name     age      Place
0      Ram   10000  Meramanme
1     Sita   10000   Allwhere
2  Hanuman  100000    Anytime

In [24]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [29]:
df =pd.DataFrame(data)

In [30]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [31]:
df.columns

Index(['name', 'age', 'city'], dtype='object')